:root {
    --default-color: #FFFFFF;
}
body {
    max-width: 768px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

@media only screen and (min-width: 769px) {
    body {
        max-width: 1200px;
    }
}

h1, h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
}

h3 {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

p {
    margin: 0
}

.wrapper {
    padding: 0 3.5%;
}

@media only screen and (min-width: 769px) {
    .wrapper {
        padding: 0 12.5%;
    }
}

.hero, .learn-more {
    background-size: cover;
    text-align: center;
}

.hero {
    padding-top: 30px;
    padding-bottom: 244px;
    background-image: url("../assets/backgroundHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--default-color);
}

@media only screen and (min-width: 769px) {
    .hero {
        padding-top: 45px;
    }
}

header {
    display: grid;
    grid-template-columns: 100px 24px;
    justify-content: space-between;
}

header > nav {
    display: none;
}

@media only screen and (min-width: 769px) {
    header > nav {
        display: block;
    }

    header {
        text-align: left;
        grid-template-columns: 28% 72%;
        justify-items: start;
    }

    header > nav {
        font-size: 0.875rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .nav-item-active{
        position: relative;
    }

    .nav-item-active::after {
        position: absolute;
        content: "";
        height: 2px;
        background-color: var(--default-color);;
        width: 100%;
        top: 30px;
        left: 0;
    }

}

.hamburger {
    width: 24px;
    height: 23px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.hamburger > div {
    width: 95%;
    height: 3px;
    background-color: var(--default-color);
}


@media (min-width: 769px) {
    .hamburger {
        display: none;
    }

    nav > ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        line-height: 2;
        text-align: right;
        gap: 0 30px;
    }
}

header > a {
    padding-top: 15px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media only screen and (min-width: 769px) {
    header > a {
        padding-top: 0;
    }
}

.main-header {
    margin-top: 192px;
}

.main-header img {
    width: 63px;
}

.main-header h1 {
    margin: 13px 0 42px;
}

.main-header h3 {
    color: rgba(255, 255, 255, 0.7);
}

.main {
    padding: 85px 0 116px;
    background: #EEEEEE;
    text-align: left;
    color: #464547;
}

.main h2, .main h3 {
    text-align: left;
}

.main h2 {
    margin-bottom: 25px;
    width: 340px;
}

.main h3 {
    margin-bottom: 28px;
    color: #666666;
}

@media only screen and (min-width: 769px) {
    .main {
        text-align: center;
        padding-bottom: 96px;
    }

    .main h2, .main h3 {
        text-align: center;
    }

    .main h2 {
        width: auto;
        margin-bottom: 40px;
    }

    .main h3 {
        margin-bottom: 48px;
    }
}

.main article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px 0;
    text-align: left;
}

@media only screen and (min-width: 769px) {
    .main article {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 7%;
    }
}

.main button {
    width: 115px;
    height: 38px;
    margin-top: 38px;
    background: #55C2D8;
    border: none;
    border-radius: 18px;
    color: var(--default-color);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.625rem;
    letter-spacing: 0.1em;
}

@media only screen and (min-width: 769px) {
    .main button {
        margin-top: 46px;
    }
}

.learn-more {
    padding: 72px 0 74px;
    background-image: url("../assets/backgoundlearnMore.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--default-color);
}

.learn-more h2 {
    margin-bottom: 92px;
}

.learn-more button {
    width: 100px;
    height: 100px;
    margin-bottom: 80px;
    padding-left: 10px;
    background: #39C2D7;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    color: var(--default-color);
    font-size: 2.5rem;
}

@media only screen and (min-width: 769px) {
    .learn-more {
        padding: 84px 0 90px;
    }

    .learn-more h2 {
        margin-bottom: 53px;
    }

    .learn-more button {
        width: 150px;
        height: 150px;
        margin-bottom: 70px;
        padding-left: 15px;
        border-radius: 75px;
        font-size: 60px;
    }
}

footer {
    background: #464547;
    color: rgba(255, 255, 255, 0.4);
    line-height: 0.87rem;
    padding-top: 52px;
    padding-bottom: 75px;
}

footer > section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 17px 0;
    justify-items: center;
    text-align: center;
}

footer img {
    width: 20px;
    height: 20px;
}

.footer-logo {
    margin-bottom: 12px;
    text-transform: uppercase;
    color: var(--default-color);
    font-size: 1.1rem;
    line-height: 1rem;
    letter-spacing: 0.2em;
}

.footerEmail {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 769px) {
    footer {
        padding-top: 56px;
    }

    .footer-logo {
        margin-bottom: 14px;
        padding-left: 5px;
    }

    footer > section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px 0;
        justify-items: stretch;
        text-align: left;
    }

    .footer-logo {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .footer-logo + p {
        grid-column: 3 / 8;
        grid-row: 1 / 2;
    }

    a.footerEmail {
        grid-column: 3 / 6;
        grid-row: 2 / 3;
    }

    a.footerEmail + p {
        grid-column: 6 / 8;
        grid-row: 2 / 3;
    }
}
